.component-warper{
    border-radius: 25px;
    margin-top: 10px;
    padding: 20px;
}

.component-warper{
    background-color: rgb(255, 255, 255);
}
.dashboard-wrapper {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.dashboard-wrapper  span {
  
    box-shadow: 0px 0px 0px 1px rgb(0 0 0 / 23%);
    border-radius:  20px;
    padding: 5px 10px 5px 10px;
    margin-left:  10px;

} 

.Boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Boxes > div{
    box-shadow: 0px 0px 0px 1px rgb(0 0 0 / 23%);
    border-radius:  20px;

}


.text-bold{
    font-weight: 600;
}


.box-border {
border: 1px solid  gray;
border-radius: 20px !important;
padding: 10px;
}


.thead {
    border-bottom: 1px solid gray;
}
.tr{
    color: gray;
 
    font-size: 18px;
    font-weight: 300;
}

.th-center{
    text-align: start;
    line-height: 30px;
}

.th-1{
    color: black;
    font-weight: 600;
}